<div class="media">
  <div class="media-body">

      <small>
        <%= topic.name %> Posted <%= time_ago_in_words(topic.created_at) %> ago
      </small><br><br>
      <p><%= topic.description %></p>

  </div>
</div>
