<div class="media">
  <div class="media-body">
    <h4><%= link_to topic.name, topic %></h4><br>
    <small>
      Posted <%= time_ago_in_words(topic.created_at) %> ago
    </small><br/>
    <p><%= topic.description %></p>
  </div>
</div>
