<div class="media">
  <div class="media-body">
      <small>
        <%= post.user.name %> Posted <%= time_ago_in_words(post.created_at) %> ago
        <br>
        <h6><%= post.body %> </h6>
      </small><br>

    </div>
</div>
